* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 7%;
  height: 4rem;
  width: 100%;
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .logo {
  color: #395144;
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
}
.navbar .logo span {
  color: #252926;
}

.navbar .navigasi a {
  display: inline-block;
  margin-right: 0.8rem;
  font-size: 1.2rem;
  color: #083a05;
  padding: 1rem;
  transition: 1s ease-out;
  font-weight: 700;
}

.navbar .navigasi a:hover {
  color: #010500;
}

.navbar .navigasi a::after {
  content: " ";
  border-bottom: 2px solid #62b6b7;
  padding-bottom: 0.1rem;
  display: block;
  transform: scale(0);
  transform-origin: 0 0;
  transition: 0.3s;
}

.navbar .navigasi a:hover::after {
  transform: scale(1);
}

#menu {
  display: none;
}

/* Hero image */

.Home {
  height: 100vh;
  width: 100%;
  background-color: #b3ffae;
  background-image: url(gambar/radoslav-bali-ca3d4FYDf84-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1.2;
  color: white;
}

.Home h1 {
  font-family: "Indie Flower", cursive;
  font-size: 4rem;
  padding: 0;
}

.Home .text {
  font-size: 1.3rem;
  padding-bottom: 2rem;
  text-align: center;
}

.Home .now {
  padding: 1rem;
  background-color: #139483;
  border-radius: 0 1rem 0 1rem;
  font-weight: 700;
  font-size: 1.3rem;
  color: white;
  transition: 0.5s ease-in-out;
}

.Home .now:hover {
  padding: 1rem;
  background-color: crimson;
  border-radius: 0 1rem 0 1rem;
  font-weight: 700;
  font-size: 1.3rem;
  color: white;
}

/* About */

.About {
  padding: 6rem 0;
  background: linear-gradient(to bottom, rgb(225, 244, 220), #fff 30%);
}
.About h1,
.Destination h1,
.Contact h1 {
  text-align: center;
  color: #139483;
  font-size: 3rem;
  font-family: "Indie Flower", cursive;
  padding: 1rem;
}

.About .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.About .row .img {
  padding: 1rem;
}

.About .row .img img {
  width: 100%;
  height: 100%;
  display: block;
  flex: 1;
  filter: contrast(110%);
  border-radius: 0.3rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.About .row .text {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 2rem;
}

.About .row .text p {
  text-indent: 0.8rem;
  padding-bottom: 0.5rem;
  text-align: justify;
  font-weight: 200;
}

/* Destination */

.Destination {
  padding: 3rem 0;
  background: linear-gradient(to bottom, #fff 50%, #ddd);
}

.Destination > p {
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  padding: 0;
  font-family: "Indie Flower", cursive;
}

.Destination h1 {
  padding: 0;
}

.Destination .row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 7%;
  flex-wrap: wrap;
  width: 90%;
  gap: 6rem;
  margin: 0 auto;
}

.Destination .row .foto {
  border: 1px solid black;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding: 1rem;
  background-color: #fff;
  transform: scale(1);
  transition: 0.3s;
}

.Destination .row .foto:hover {
  transform: scale(1.1) translateY(-2rem);
  box-shadow: 0px 20px 1px 5px rgba(0, 0, 0, 0.7);
}
.Destination .row .foto .img p:hover {
  background-color: crimson;
  cursor: pointer;
}

.Destination .row .foto .img {
  width: 18rem;
  height: 10rem;
  display: block;
  position: relative;
  border-radius: 0.5rem;
}

.Destination .row .foto .img.gambar1 {
  background-image: url(gambar/1.jpg);
  background-size: cover;
  background-repeat: repeat;
}

.Destination .row .foto .img.gambar2 {
  background-image: url(Destination/bali.jpg);
  background-size: cover;
  background-repeat: repeat;
}

.Destination .row .foto .img.gambar3 {
  background-image: url(Destination/GIli\ Trawang\ .jpg);
  background-size: cover;
  background-repeat: repeat;
}

.Destination .row .foto .img.gambar4 {
  background-image: url(Destination/Labuan\ Bajo.jpg);
  background-size: cover;
  background-repeat: repeat;
}

.Destination .row .foto .img.gambar5 {
  background-image: url(Destination/lombok.jpg);
  background-size: cover;
  background-repeat: repeat;
}

.Destination .row .foto .img.gambar6 {
  background-image: url(Destination/wakatobi.jpg);
  background-size: cover;
  background-repeat: repeat;
}

.Destination .row .foto .img p {
  background-color: #30e3df;
  width: fit-content;
  padding: 0.2rem 0.5rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  border-radius: 10%;
  box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.75);
  color: #ffefef;
}
.Destination .row .foto .penjelasan {
  position: relative;
  padding: 1rem 0.5rem;
}

.Destination .row .foto .penjelasan h3 {
  padding-bottom: 0.3rem;
}
.Destination .row .foto .penjelasan h5 {
  padding-bottom: 0.6rem;
  font-style: italic;
  font-weight: 300;
}

.Destination .row .foto .penjelasan p {
  color: gold;
}

.Destination .row .foto .penjelasan p span {
  color: #010500;
  font-size: 0.6rem;
  margin-right: 3rem;
}

/* Contact */

.Contact {
  padding: 6rem 0;
  background: linear-gradient(to bottom, #ddd 20%, #f6f6ee);
}

.Contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.Contact .row .registrasi {
  flex: 1 1 25rem;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
}

.Contact .row .registrasi form {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.Contact .row .registrasi form .input {
  width: 25rem;

  margin-bottom: 1rem;
}
.Contact .row .registrasi form label {
  line-height: 2;
}

.Contact .row .registrasi form input {
  width: 25rem;
  padding: 1rem;
  border: 1px solid rgb(136, 135, 135);
  text-indent: 1rem;
  font-size: 1.3rem;
}

.Contact .row .registrasi form .btn {
  padding: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
  background-color: #30e3df;
  color: #ffefef;
  width: 10rem;
  margin-top: 1rem;
  font-family: "Indie Flower", cursive;
  font-weight: 700;
  border-radius: 0.2rem;
  transition: 0.3s ease-in;
}

.Contact .row .registrasi form .btn:hover {
  background-color: coral;
}

.Contact .row .informasi {
  flex: 1 1 25rem;
  background-color: #fff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.3rem;
  width: 100%;
  object-fit: cover;
}

.Contact .row .informasi .img img {
  width: 90%;
  filter: contrast(100%) brightness(150%) saturate(150%);
  border-radius: 5%;
  border: 1px solid #948f8f;
}

.Contact .row .informasi .img p {
  opacity: 1;
  font-size: 1rem;
  z-index: 199;
  font-family: "Indie Flower", cursive;
}

.Contact .row .informasi .img img:hover {
  filter: grayscale(100);
}

/* footer */

footer {
  background-color: #62b6b7;
  text-align: center;
  padding: 0 1rem 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  margin: 1rem;
  color: #fff;
}

footer .socials a:hover {
  color: #30e3df;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: #139483;
  font-weight: 700;
}

/* media query */

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  .About .row {
    display: flex;
    align-items: center;
    padding: 3rem;
    flex-wrap: wrap;
  }

  .About .row .img img {
    display: block;
    flex: 1;
    filter: contrast(110%);
    border-radius: 0.3rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
  }

  .Contact .row .informasi {
    min-width: 20rem;
    flex: 1;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.3rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 60%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navigasi {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50px;
    right: -150px;
    background-color: #fff;
    border-radius: 0.5rem;
    transition: 0.5s;
  }
  .navbar .navigasi.active {
    right: 0px;
  }

  /* about */

  .About .row {
    display: flex;
    align-items: center;
    padding: 3rem;
    flex-wrap: wrap;
  }

  .Destination > p {
    font-size: 1.5rem;
  }
  .Destination .row .foto {
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  .Destination .row .foto .img {
    background-image: url(gambar/1.jpg);
    background-size: cover;
    background-repeat: repeat;
    width: 28rem;
    height: 20rem;
    display: block;
  }

  .Contact .row .informasi {
    min-width: 25rem;
    flex: 1;
    background-color: #fff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 45%;
  }

  .Destination .row .foto .img {
    background-image: url(gambar/1.jpg);
    background-size: cover;
    background-repeat: repeat;
    width: 28rem;
    height: 20rem;
    display: block;
  }

  .Contact .row .informasi .img img {
    width: 100%;
    filter: contrast(100%) brightness(150%) saturate(150%);
    border-radius: 5%;
    border: 1px solid #948f8f;
  }
}
